/* Nova Field CSS */
.wm-map {
    width:600px;
    height: 400px;
}
.index-view .wm-map  {
    height: 100px;
    width: 300px;
}
.leaflet-pane {
    z-index: 50!important;
}
.leaflet-bottom, .leaflet-top {
    z-index: 51!important;
}
.fullscreen-icon {
    background-image: url(https://unpkg.com/leaflet.fullscreen@2.4.0/icon-fullscreen.svg)!important;
}
.version-image {
    display: unset!important;
    height: inherit;
}
.leaflet-control-attribution {
    padding-right: 0!important;
}
.delete-button {
    width: 35px;
    height: 35px;
    padding: 4px;
    background-color: white;
}