/* Nova Field CSS */
.wm-map {
    width:600px;
    height: 400px;
}
.index-view .wm-map  {
    height: 100px;
    width: 300px;
}
.leaflet-pane {
    z-index: 50!important;
}
.leaflet-bottom, .leaflet-top {
    z-index: 51!important;
}